/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: #6563ff;
}

::selection {
  color: #fff;
  background: #6563ff;
}
.title {
  text-decoration: underline;
}
/* .wrapper {
  flex: 80%;
  padding: 10px 20px;
  min-width: 178vh;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.conteneur-grid {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  background-color: #ddd;
}
.conteneur-grid > li {
  list-style: none;
}
.conteneur-grid > li > div {
  padding: 5px 5px;
  border: 0.1px dashed black;
}
.conteneur-grid > li > div.black {
  background-color: #000000;
}
.conteneur-grid > li > div.white {
  background-color: #ddd;
} */
.wrapper {
  padding: 10px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.conteneur-grid {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

.conteneur-grid > li {
  list-style: none;
}

.conteneur-grid > li > div {
  padding: 5px 5px;
  border: 0.1px solid #2d2728;
}

.conteneur-grid > li > div.black {
  background-color: #e8ee13;
}

.conteneur-grid > li > div.white {
  background-color: #000000;
}

.details {
  display: block;
  align-items: center;
  margin-top: 15px;
  padding: 18px;
  border-radius: 7px;
  background: #fff;
  justify-content: space-around;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.details p {
  font-size: 18px;
  height: 17px;
  margin-bottom: 18px;
  border-right: 1px solid #ccc;
}
.details p span {
  margin-left: 8px;
}
.details p b {
  font-weight: 500;
}
.details button,  select {
  cursor: pointer;
  font-size: 14px;
  color: #6563ff;
  border-radius: 4px;
  width: 100px;
  height: 50px;
  padding: 4px 11px;
  margin-bottom: 18px;
  background: #fff;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
}
.details select {
  font-size: 18px;
}
.details button:hover {
  color: #fff;
  background: #6563ff;
}

@media screen and (max-width: 530px) {
  .details {
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }
  .details p {
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details button {
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #6563ff;
  }
}

.start-stop, .reset, .clear  {
  display: flex; 
  align-items: center;

  div {
    color: #6563ff
  }
}

.title {
  flex: 100%;
}

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  .wrapper, .details {
    flex: 100%;
  }

  .details {
    display: flex;
    width: 100%;
  }
}