/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: #6563ff;
}

::selection {
  color: #fff;
  background: #6563ff;
}
.title {
  text-decoration: underline;
}
.start-stop, .reset, .clear  {
  display: flex; 
  align-items: center;

  div {
    color: #6563ff
  }
}
.wrapper {
  padding: 10px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.conteneur-grid {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

.conteneur-grid > li {
  list-style: none;
}

.conteneur-grid > li > div {
  padding: 5px 5px;
  border: 0.1px solid #2d2728;
}

.conteneur-grid > li > div.black {
  background-color: #e8ee13;
}

.conteneur-grid > li > div.white {
  background-color: #000000;
}
.details {
  display: block;
  align-items: center;
  /* width: 150px; */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  background: #fff;
  justify-content: space-around;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: block;
}

.details p {
  font-size: 18px;
  height: 17px;
  margin-bottom: 18px;
}
.details p span {
  margin-left: 8px;
}
.details p b {
  font-weight: 500;
}
.details button,  select {
  cursor: pointer;
  font-size: 14px;
  color: #6563ff;
  border-radius: 4px;
  width: 70%;
  height: 50px;
  padding: 4px 11px;
  margin: 10px 0;
  background: #fff;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
  justify-items: center;
}
.details button div svg {
  height: 20px;
  width: 20px;
}
.details select {
  font-size: 18px;
}
.details button:hover {
  color: #fff;
  background: #6563ff;
}
.details-plus div p {
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  .details p {
    font-size: 16px;
    height: 15px;
    padding-right: 13px;
  }
  .details p span {
    margin-left: 8px;
  }
  .details p b {
    font-weight: 500;
  }
  .details button div svg {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .wrapper {
    flex: 100%;
  }
  .details {
    display: flex;
    flex: 100%;
    margin-top: 10px;
    padding: 0 15px;
    width: 100%;
    height: calc(100% / 4 - 20px);
  }
  .details button,  select {
    font-size: 10px;
    width: 100%;
    height: 35px;
    padding: 4px 11px;
    margin: 10px 0;
    transition: 0.3s ease;
  }
}